body {
    background-color: black;
    color: #fff;
    font-family: Courier New;
    /*font-family: "HelveticaNeue-UltraLight",'myfont-ttf','HelveticaNeue-UltraLight', 'Open Sans', sans-serif;*/
    font-weight: 100;
    position: relative;
}

/* Displays */
.top-left{
    float: left;
    font-size:55px;
    padding-left: 50px;
}

.top-right{
    float: right;
    padding-top: 30px;
    padding-right: 50px;
}

.center{
    padding-top: 80px;
    clear: both;
}

/** weather **/
.summary{
    font-size: 20px;
}

.icon-small {
    position: relative;
    display: inline-block;
    font-size: 50px;
    padding-left: 0px;
    padding-right: -10px;
    font-weight: 100;
    width: 20px;
    color : white;
}
.temperature{
    font-size: 40px;
}

/* news */
.news_frame{
    width:800px;
    height:550px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
    margin : auto;
    padding-top: 20px;
    clear: both;
}
.news_image{
    width:80px ;
    height:80px;
    padding-left: 20px;
    padding-right: 20px;
    float:left;
}
.news_title{
    font-size: 15px;
    font-weight: bold;
}

.news_des{
    font-size: 12px;

}


/* enbin */
.container {
    z-index: -1; /* so things are still selectable */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.bottom-center {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.commands {
    width: 450px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.animate-grow {
    max-height: 1280px !important;
}

.animate-grow.ng-hide-add {
    transition: all linear 500ms;
}

.animate-grow.ng-hide-remove {
    transition: all linear 500ms;
}

.animate-grow.ng-hide {
    max-height: 0  !important;
}
